[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mark/ditaa0_9.jar]
row=0
col=2

[/home/mark/Documents]
row=2
col=2

[/home/mark/repos]
row=0
col=1

[/home/mark/gem-list-latest]
row=1
col=3

[/home/mark/share]
row=1
col=2

[/home/mark/media]
row=3
col=2

[/home/mark/s]
row=0
col=3

[/home/mark/gem-list-updates]
row=4
col=2

[/home/mark/Downloads]
row=4
col=1

[/home/mark/plantuml.jar]
row=3
col=1

[/home/mark/gem-list]
row=5
col=2

[/home/mark/Week04.pdf]
row=5
col=1

[/home/mark/texlive-purge]
row=2
col=1

[/home/mark/bin]
row=1
col=1

[/home/mark/downloads]
row=2
col=3

[ROOT-A]
row=2
col=0

[4d00fd31-b08b-4b0a-9af4-07cc18564837]
row=0
col=0

[63A3-DB30]
row=3
col=0

[Trash]
row=4
col=0

[/]
row=5
col=0

[/home/mark]
row=3
col=3

