[Settings]
ShowAllProcesses=FALSE
MorePrecision=FALSE
FullCommandLine=FALSE
ShowStatusIcon=TRUE
ShowMemoryInXBytes=FALSE
MonitorPaintBox=TRUE
ShowApplicationIcons=TRUE
ToolbarStyle=SMALL
PromptTerminateTask=TRUE
RefreshRate=750
ColumnUID=FALSE
ColumnPID=TRUE
ColumnPPID=FALSE
ColumnState=FALSE
ColumnVSZ=FALSE
ColumnRSS=FALSE
ColumnCPU=TRUE
ColumnPriority=FALSE
SortColumn=7
SortType=0
WindowWidth=1366
WindowHeight=739
HandlePosition=100
ProcessTreeView=TRUE
